<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Test Recipe Name</h4>
        <p class="list-group-item-text">Test Description</p>
      </div>
      <span class="pull-right">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/1/15/Recipe_logo.jpeg"
          alt=""
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
    </div>
</div>
